.list-item {
  padding: .25rem;
  list-style-type: none;
}

.btn-remove {
  margin-right: 1rem;
  padding: .1rem .5rem .1rem .5rem;
  border-radius: .25rem;
  background-color: red;
  color: #FFFFFF;
  cursor: pointer;
}
