<div *ngIf="categories$|async as categoryResponse">
  <section class="product" *ngFor="let category of categoryResponse">
    <h1 class="text-center">{{category}}</h1>
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main">
          <div class="item">
            <div class="item-content">
              <p class="product-img">kép (hover effectnél termék neve a képre írva)</p>
              <p class="actual-price">3 000Ft</p>
              <p class="original-price">15 000Ft</p>
              <p class="product-name">Termék név</p>
              <div class="w-100 text-center">
                <button type="button" mat-raised-button color="primary">Megveszem</button>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              2
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              3
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              4
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              5
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              6
            </div>
          </div>
        </div>
        <div class="arrow-container">
          <div class="arrow left-arrow" appStepPrev mainContainer=".slider-wrap" itemContainer=".slider-main"><</div>
          <div class="arrow right-arrow" appStepNext mainContainer=".slider-wrap" itemContainer=".slider-main">></div>
        </div>
      </div>
    </div>
  </section>
</div>
