.product {
  padding: 0 50px;
  margin-bottom: 2rem;

  .slider-wrap {
    position: relative;
    overflow: hidden;
    height: 280px;

    .slider-main {
      position: absolute;
      width: 200%;

      .item {
        display: inline-block;
        width: 280px;
        //height: 350px;
        background-color: #d7d5d5;
        color: #303030;
        position: relative;
        margin-right: 20px;
        border-radius: .5rem;
        box-shadow: 8px 11px 17px 0 rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 8px 11px 17px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 8px 11px 17px 0 rgba(0, 0, 0, 0.75);


        .item-content {
          padding: .5rem;

          .product-img {
            height: 100px;
            text-align: center;

            img {
              max-height: 100%;
              margin: auto;
            }

            .tooltip {
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;
              background-color: #000;
              color: #fff;
              padding: 5px;
              font-size: 14px;
            }
          }

          .actual-price {
            text-align: right;
            font-size: 2rem;
          }

          .original-price {
            text-align: left;
            text-decoration: line-through;
            color: #FF0000;
          }

          .product-name {
            text-align: center;
          }
        }
      }
    }
  }

  .arrow-container {
    .arrow {
      position: absolute;
      font-size: 30px;
      font-weight: 900;
      cursor: pointer;
      z-index: 1;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;

      &.left-arrow {
        left: 50px;
      }

      &.right-arrow {
        right: 50px;
      }
    }
  }

}
