.row {
  display: flex;
}

.c20 {
  width: 300px;
}

.c80 {
  flex-grow: 1 !important;
}

#controllers {
  .w-90 {
    width: 90%;
  }

  .errorMessage {
    margin-top: 2rem;
    background-color: red;
    color: white;
    padding: .2rem .5rem;
  }
}

#playground {
  background-color: #FFFFFF;

  #gameBoard {
    background-color: #ececec;
    width: fit-content;
    height: fit-content;
    padding: 2rem 2.5rem;
    border-radius: 2rem;
    box-shadow: 14px 14px 15px -3px rgba(0, 0, 0, 0.1);
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
