<div class="row">
  <div class="c20">
    <div id="controllers">
      <div>Szoba azonosító: <span *ngIf="lobbyId">{{lobbyId}}</span></div>
      <div>Kapcsolat típusa: <span *ngIf="lobbyType">{{lobbyType}}</span></div>
      <div>Játékosok száma: <span *ngIf="maxPlayerCount">{{maxPlayerCount}}/{{joinedPlayercount}}</span></div>
      <div>Jelenlegi játékos: {{activePlayerIndex}}</div>
      <div>
        <mat-slider min="{{minColCount}}" max="{{maxColCount}}" showTickMarks discrete class="w-90">
          <input matSliderThumb [(ngModel)]="planColCount">
        </mat-slider>
      </div>
      <div>
        <button type="button" class="w-90" style="margin-bottom:1rem;" mat-raised-button matRipple color="primary" (click)="newGame()">Új játék</button>
      </div>
      <hr>
      <div>
        <mat-form-field class="w-90">
          <mat-label>Játék azonosítója</mat-label>
          <input [(ngModel)]="lobbyId" type="number" matInput>
        </mat-form-field>
      </div>
      <div>
        <button type="button" class="w-90" mat-raised-button matRipple color="primary" (click)="joinGame()">Csatlakozás játékhoz</button>
      </div>
      <div class="errorMessage w-90" *ngIf="errorMessage.length">{{errorMessage}}</div>
    </div>
  </div>
  <div class="c80">
    <div id="playground" *ngIf="activePlayerIndex > 0">
      <div id="gameBoard">
        <ng-container *ngFor="let row of gameMatrix; let i = index" >
          <ng-container *ngFor="let field of row; let j = index">
            <app-field [fieldStatus]="field" [fieldCoords]="{i:i,j:j}" [lineBreakNeeded]="j+1 === row.length">
            </app-field>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
