<div class="slider">
  <ng-container *ngFor="let slide of slideService.getSlides();let sliderIndex=index">
    <div class="slide bg-img1" *ngIf="slideService.getCurrentIndex() == sliderIndex" [ngStyle]="{'background-image':'url('+slide.url+')'}" (click)="emitSlideIndex(sliderIndex)">
      <span appHoverHighlight bgColorDefault="transparent" bgColorHover="red">{{slide.title}}</span>
    </div>
  </ng-container>

  <div class="arrow-container">
    <div class="arrow left-arrow" (click)="slidePrev()"><</div>
    <div class="arrow right-arrow" (click)="slideNext()">></div>
  </div>

  <div class="dots">
    <div class="dot" *ngFor="let slide of slideService.getSlides();let sliderIndex=index" [ngClass]="{'active':slideService.getCurrentIndex() == sliderIndex}" (click)="slideTo(sliderIndex)">.</div>
  </div>
</div>
