<div class="slider">
  <ng-container *ngFor="let slide of slides;let sliderIndex=index">
    <div class="slide bg-img1" *ngIf="currentIndex == sliderIndex" [ngStyle]="{'background-image':'url('+slide.url+')'}" (click)="slideClicked(sliderIndex)">{{slide.title}}</div>
  </ng-container>

  <div class="arrow-container">
    <div class="arrow left-arrow" appHoverHighlight bgColorDefault="transparent" bgColorHover="red" (click)="slidePrev()"><</div>
    <div class="arrow right-arrow" (click)="slideNext()">></div>
  </div>

  <div class="dots">
    <div class="dot" *ngFor="let slide of slides;let sliderIndex=index" [ngClass]="{'active':currentIndex == sliderIndex}" (click)="slideTo(sliderIndex)">.
    </div>
  </div>
</div>
