<div>Regisztráció</div>
<form [formGroup]="regForm">
  <div>
    <label for="lastName">Vezetéknév</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName">
    <div *ngIf="regForm.controls['lastName'].invalid && (regForm.controls['lastName'].touched || regForm.controls['lastName'].dirty)">Kötelező mező</div>
  </div>
  <div>
    <label for="firstName">Keresztnév</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName">
    <div *ngIf="checkValue('firstName')">Kötelező mező</div>
  </div>
  <div>
    <label for="userName">Felhasználónév</label>
    <input type="text" class="form-control" id="userName" formControlName="userName">
    <div *ngIf="checkValue('userName')">Kötelező mező</div>
  </div>
  <div>
    <label for="email">E-mail cím</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <div *ngIf="checkValue('email')">Kötelező mező</div>
  </div>
  <div>
    <label for="password">Jelszó</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <div *ngIf="checkValue('password')">Kötelező mező</div>
  </div>
  <div>
    <label for="vatNumber">Adószám</label>
    <input type="text" class="form-control" id="vatNumber" formControlName="vatNumber">
  </div>
  <div>
    <label for="age">Életkor</label>
    <input type="text" class="form-control" id="age" formControlName="age">
  </div>
  <button type="submit" (click)="formSave()">Küldés</button>
</form>
