#header{
  width: 100%;
  height: 50px;
  background-color: lightblue;
  a{
    padding: 30px;
  }
  span{
    padding: 30px;
    cursor: pointer;
  }
}

#footer{
  height: 150px;
  background-color: black;
  color: white;
  width: 100%;

}
