.login-wrapper {
  height: 70%;

  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
    box-shadow: 11px 8px 15px -3px rgba(255, 255, 255, 0.1);
  }

  mat-card-header {
    text-align: center;
    display: block;
    font-weight: 700;

    mat-card-title {
      font-size: 30px;
      margin: 0;
    }
  }

  mat-card-actions {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
    margin-top: 1rem;
  }

}
