<h1 class="text-center">Regisztráció</h1>
<form [formGroup]="regForm">
  <div>
    <label for="lastName">Vezetéknév</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName">
    <div *ngIf="regForm.controls['lastName'].invalid && (regForm.controls['lastName'].touched || regForm.controls['lastName'].dirty)">Kötelező mező</div>
  </div>
  <div>
    <label for="firstName">Keresztnév</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName">
    <div *ngIf="checkValue('firstName')">Kötelező mező</div>
  </div>
  <div>
    <label for="age">Életkor</label>
    <input type="text" class="form-control" id="age" formControlName="age">
  </div>
  <button type="submit" (click)="formSave()">Küldés</button>
</form>
