<p *ngIf="loading">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</p>
<p *ngIf="errorMsg !== ''" class="text-center">{{errorMsg}}</p>

<table *ngIf="!loading && errorMsg == '' ">
  <thead>
  <tr>
    <th>ID</th>
    <th>Cím</th>
    <th>Szöveg</th>
    <th>Tagek</th>
    <th>Reakciók</th>
    <th>....</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of posts">
    <td>{{post.id}}</td>
    <td>{{post.title}}</td>
    <td>{{post.body}}</td>
    <td>{{post.tags}}</td>
    <td>{{post.reactions}}</td>
    <td>
      <button mat-mini-fab color="primary" (click)="openPost(post)" title="Megtekintés" title="Megtekintés">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
