#footer {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #303030;
  color: #FFFFFF;
  font-weight: 500;
}
