<mat-toolbar color="primary" class="navbar">
  <div>{{title}}</div>
  <div>
    <a class="nav-item" [routerLink]="['']">HOME</a>
    <a class="nav-item" [routerLink]="['account/registration']">Regisztráció</a>
    <a class="nav-item" [routerLink]="['account/login']">Bejelentkezés</a>
    <a class="nav-item" [routerLink]="['blog/post-list']">Blog lista</a>
    <a class="nav-item" [routerLink]="['games/tictactoe']">Játék</a>
    <a class="nav-item" [routerLink]="['product/categories']">Kategóriák</a>
  </div>
</mat-toolbar>
